
.jumbotron{
  background-image: url('./img/abstractOrange.jpg');
  height:300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

#welcome_message{
  text-shadow: blue 1px 1px;
  
}



#desc{
  font-size:150%;
  font-weight: bolder;
  
}

.App {
  text-align: center;
}

.navLogo{
  position:relative;
  left:-5px;
}

#navAucText{
  color : #ff8533
}

.navLinks{
  font-size: 120%;
  opacity: 50%;
  position:relative;
  top:1.4px;

}

.navLinks:hover{
  text-decoration: none;
  opacity:100%;
  text-shadow:orange 1.5px 1.5px;
}

#guest{
  font-size: 120%;
  position:relative; 
  top:-3px;
  opacity: 50%;
}

#guest:hover{
  text-decoration: none;
}

.mainCols{
  height:300px;
}

#updatesContainer{
  height:500px;
  border-bottom-color:red;
  border-bottom-width: 5px;
  border-bottom-style:ridge ;
}

#rulesContainer{
  font-size: 15px;
}

.temporary{
  position: relative;
  top:150px;
  padding-left:100px;
  font-size:190%;
}

#welcomeMessage{
  background-image:url('./img/splash_welcome.png');
  height:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#splashWelcome{
  font-family: 'Tauri';
  font-size: 70px; 
  font-weight: bolder;
  text-shadow: red 3px 3px;
  margin-left:110px;
  margin-top: 90px;
  color:goldenrod;
  
}

#welcomeContainer{
  border-style: ridge;
  border-color:#343A40;
  border-width:10px;
  border-radius: 10%;
  position: relative;
  top:90px;
  width:100%; 
}

.bidButtons{
  width:150px;
  height:90px;
  margin-right: 60px;
  position: relative;
  left:150px;
}

#hottestDeals{
  height:700px;
  background-color: #F0833C;
}

#dealsCar{
  position:relative;
  top:130px;
}

.carouselItem{
  width:100%;
  height:500px;
}

.carouselImgDiv{
  width:60%;
  height:500px;
  float:left;
}

.carouselInfoDiv{
  width:40%;
  height:500px;
  float:left;
}

.saleTag{
  width:150px;
  margin-left:90px;
  margin-top:30px;
}

.carouselText{
  font-family: 'Tauri';
  font-size: 33px; 
  font-weight: bolder;
  text-shadow: red 3px 3px;
  color:goldenrod;
  padding-left:40px;
  padding-top:30px;
}



@media screen and (max-width:900px){
  #splashWelcome{
    font-size:30px;
  }
}

@media screen and (max-width:1410px){
  #splashWelcome{
    font-size:50px;
  }
}

@media screen and (max-width:1100px){
  #splashWelcome{
    font-size:40px;
  }
}

@media screen and (max-width:1496px){
  #rulesContainer{
    font-size:13px;
  }
  .bidButtons{
    width:100px;
    height:70px;
  }
}

@media screen and (max-width:1073px){
  #rulesContainer{
    font-size:11px;
  }
  .bidButtons{
    width:80px;
    height:50px;
    left:50px;
  }
}

@media screen and (max-width:957px){
  .bidButtons{
    margin-right: 40px;
  }
}

@media screen and (max-width:839px){
  .bidButtons{
    margin-right: 15px;
    left:30px;
  }
}

@media screen and (max-width:703px){
  .bidButtons{
    width:50px;
    height:70px;
    left:20px;
  }
  #rulesContainer{
    font-size: 10.5px;
  }
}

@media screen and (max-width:575px){
  .bidButtons{
    width:110px;
    height:70px;
    left:50px;
    margin-right:50px;
  }
  #rulesContainer{
    font-size: 14px;
  }
}


