
.jumbotron{
  background-image: url('./IIITH.jpeg');
  height:300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

#welcome_message{
  text-shadow: blue 1px 1px;
  font-size:300%;
  color:orangered;
}

#desc{
  font-size:150%;
  color:#0379EE;
  font-weight: bolder;
  
}

.App {
  text-align: center;
}


